.container {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  margin-top: 64px;
  margin-left: 48px;
  margin-right: 48px;
  gap: 16px;
}
.items {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  width: 100%;
  padding: 16px;
  background-color: #f6f4f6;
  color: #000;
  border-radius: 8px;
  text-align: center;
}

.items_info {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 16px;
}

.items_info > h3 {
  width: 20%;
}

.item span {
  width: 20%;
}
