.container {
  display: flex;
  flex-direction: column;
  background-color: #2e2e2e;
  margin-top: 64px;
  margin-left: 48px;
  margin-right: 48px;
  gap: 16px;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 16px;
  padding: 16px;
  background-color: #3e3e3e;
  border-radius: 8px;
}

.items_info {
  display: flex;
  justify-content: space-around;
  gap: 8px;
}
