#API URL
VITE_APP_API_URL=http://localhost:5000

#WEB URL
VITE_APP_WEB_URL=http://${HOST}:${PORT}

#SECRET
VITE_APP_JWT_SECRET=dEP1CRzlFR8LwqA3Nt96rupOarLM6Q6z

HOST=localhost
PORT=3000
MODE=development