.register {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.register > img {
  height: 100%;
}

.content_register > img {
  height: 100px;
  width: 100px;
  position: relative;
  top: 16px;
}

.content_register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
  width: 100%;
  padding: 20px;
  background-color: transparent;
  border-radius: 8px;
}

.form_register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
  height: 300px;
  width: 300px;
}

.form_register input {
  height: 50px;
  width: 100%;
  padding-left: 8px;
  border-radius: 8px;
  border: 2px solid #fff;
}

.navigate_login {
  color: white;
  width: 300px;
}

.sign_up {
  width: 300px;
  height: 50px;
  background-color: #e9d8a6;
  border: 1px solid #e9d8a6;
  color: #000;
  border-radius: 8px;
  font-size: large;
  font-weight: 500;
}

.form_register input:focus {
  outline: none;
  font-size: 1.1rem;
}

.sign_up:hover {
  box-shadow: 0 0 8px #e9d8a6;
}

.form_register input:hover {
  box-shadow: 0 0 8px #e9d8a6;
}
