.projects {
  height: calc(100vh - 184.5px);
  display: flex;
  gap: 32px;
  margin-top: 64px;
  margin-left: 48px;
  margin-right: 48px;
}

.projects_sidebar {
  background-color: #2e2e2e;
  height: calc(100vh - 184.5px);
  width: 300px;
  padding: 24px;
}

.projects_content {
  background-color: #2e2e2e;
  height: calc(100vh - 184.5px);
  flex: 1;
  padding: 24px;
  overflow: auto;
}

.projects_list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(350px, 250px));
  gap: 24px;
  width: auto;
}

.project {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #fff;
  color: #000;
  height: 250px;
  width: 350px;
  border-radius: 8px;
}

.projects_title {
  margin-bottom: 32px;
}

.project_name {
  height: 30px;
  width: 51%;
  text-align: center;
  font-size: 1.2rem;
}

.project_progress {
  height: 30px;
  width: 50%;
  text-align: center;
}

.project_end_date {
  width: 50%;
  height: 30px;
  text-align: center;
}

.project_description {
  height: 50%;
  width: 100%;
  text-align: center;
}

.project_status {
  height: 20px;
  width: 100%;
  border-radius: 8px 8px 0 0;
  color: white;
  font-weight: bold;
}
