* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: linear-gradient(
    180deg,
    hsla(198, 100%, 5%, 1) 0%,
    hsla(190, 100%, 23%, 1) 100%
  );
}

html,
body,
#root {
  font-family: 'Poppins', sans-serif;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background);
  width: 100vw;
  height: 100vh;
}
