.nav {
  background-color: white;
}

.nav_list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 16px 16px;
  list-style-type: none;
}

.nav_item {
  width: 100px;
  text-align: center;
}
